.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
}

.container-fluid {
  padding: 0 30px;
}

.align-window-center {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.list-row {
  display: flex;
  flex-wrap: wrap;
}
